var inArray = function (value, array) {
  if (array) {
    if (array.indexOf(value) != -1) {
      return true
    }
  }
  return false
}

var valueToName = function (array, value) {
  for (var i = 0; i < array.length; i++) {
    if (array[i].value == value) {
      return array[i].name
    }
  }
  return ''
}

var differTime = function (time1, time2) {
  var differ = time2 - time1
  var hours = Math.floor(differ / (3600 * 1000))
  var leave1 = differ % (3600 * 1000)
  var minutes = Math.floor(leave1 / (60 * 1000))
  var leave2 = leave1 % (60 * 1000)
  var seconds = Math.round(leave2 / 1000)
  return hours + ':' + (minutes > 9 ? minutes : '0' + minutes) + ':' + (seconds > 9 ? seconds : '0' + seconds)
}

var discount = function (value1, value2) {
  return parseFloat((value1 / value2 * 10).toFixed(2))
}

var round = function (value) {
  return Math.round(value)
}

var showMeter = function (meters) {
  if (meters < 1000) {
    return meters + '米'
  } else {
    return parseFloat(meters/1000).toFixed(1) + '公里'
  }
}

var showMinute = function (minutes) {
  if (minutes < 60) {
    return minutes + '分钟'
  } else {
    var hours = parseInt(minutes/60)
    var remain = minutes % 60
    if (remain) {
      return hours + '小时' + remain + '分钟'
    } else {
      return hours + '小时'
    }
  }
}

module.exports = {
  inArray: inArray,
  valueToName: valueToName,
  differTime: differTime,
  discount: discount,
  round: round,
  showMeter: showMeter,
  showMinute: showMinute
}